<h2 mat-dialog-title>Manage Product Images</h2>
<form action="" style="margin-top: 10px">
  <mat-dialog-content class="mat-typography">
    <div style="margin-top: 10px">
      <label for="file">Product Image</label>
      <input type="file" id="file" class="form-control">
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</form>
<hr>
images
