<div class="outer" style="margin: 20px 0">
  <div class="container">
    <hr>
    <h1>Order Management</h1>
    <hr>
    <div class="row">
      <div class="col-4">
        <form>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="button-addon2">
          </div>
        </form>
      </div>
      <br>
      <div class="col-12" style="margin-top: 50px">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#id</th>
            <th>Create Date</th>
            <th>Total Cost</th>
            <th>Qty</th>
            <th>Payment Type</th>
            <th>Customer</th>
            <th>Product</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="context">
                djh-23sd-sd
                <mat-icon>copy</mat-icon>
              </div>
            </td>
            <td>
              <div class="context">
                2025 May 5
              </div>
            </td>
            <td>
              <div class="context">
                $ 100 | 30000LKR
              </div>
            </td>
            <td>
              <div class="context">
                12
              </div>
            </td>
            <td>
              <div class="context">
                CARD
              </div>
            </td>
            <td>
              <div class="context">
                Tehan Matthew
              </div>
            </td>
            <td>
              <div class="context">
                Iphone 14 Pro Max
              </div>
            </td>
            <td>
              <div class="context">
                <button color="warning" mat-icon-button matTooltip="Delete" aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>delete_sweep</mat-icon>
                </button>
                <button color="warning" mat-icon-button matTooltip="Update" aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button color="warning" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
